# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual env
venv/
.env

# Django
*.sqlite3
db.sqlite3
*.log

# VSCode
.vscode/

# Media
/media/
*.png
*.jpg
*.jpeg
*.gif
*.webp

# Migrations
**/migrations/
!*/migrations/__init__.py
